<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460463522184-n90i4bovmlv30l999rk362fvrjd2u1oo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460463522184-n90i4bovmlv30l999rk362fvrjd2u1oo</string>
	<key>API_KEY</key>
	<string>AIzaSyDd4nq-CSK68GBU7s_G09fV6STn9CxVsFY</string>
	<key>GCM_SENDER_ID</key>
	<string>460463522184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cristobalcastrillon.CashFlow</string>
	<key>PROJECT_ID</key>
	<string>cashflow-37373</string>
	<key>STORAGE_BUCKET</key>
	<string>cashflow-37373.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460463522184:ios:d144730a562c8024e87a3d</string>
</dict>
</plist>